body {
    font-family:Helvetica;
    background:#669966;
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:black;
	width:600px
}

p {
    font-size: 24px;
}

li {
    font-size: 18px;
}

.item {
    font-size: 24px;
}
    
input {
    border: 0;
    padding: 12px;
    font-size: 18px;
}
    
input[type="submit"] {
    color:black;
}

.animal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.animal-item {
  margin-left: 50px;
}


